{% extends "padre.html" %}

{% load static %}


{% block contenido %}
<main>
    <div class="container">
        <div class="row justify-content-center"> 
            <div class="col-12 col-md-4">
                <div class="card">
                    <img src="{% static 'AppCoder/assets/img/testimonials-2.jpg' %}" class="img-fluid rounded mx-auto d-block" alt="Imagen de perfil">
                    <div class="card-body text-center">
                        <h5 class="card-title">Periodista de datos</h5>
                        <p class="card-text">Me formé en TEA y DeporTEA. Estoy terminando la licenciatura en Periodismo en la UNDAV. Me dediqué al periodismo autogestivo y estoy estudiando para desarrollarme en el análisis de datos.</p>
                        <a class="btn btn-danger" href="">Enviar mensaje</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}